---
layout: calendar
title: "calendar"
---

<body>
    {% include navbar.html %}
    <main id="main">
        <section id="calendar-section" class="portfolio section-bg">
            <div class="container">
<!--                <div id='calendar'></div>-->
                <div class="section-title" data-aos="fade-up">
                    <h2>Upcoming Events</h2>
                    <p>Keep up to date with <a href="https://calendar.google.com/calendar/embed?src=c_u7ovp4lquuj3lmsn4j3u92saqc%40group.calendar.google.com&ctz=America%2FChicago">Google calendar</a> or <a href="https://calendar.google.com/calendar/ical/c_u7ovp4lquuj3lmsn4j3u92saqc%40group.calendar.google.com/public/basic.ics">iCal</a>
                    </p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay=".04s">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <!-- <iframe src="https://calendar.google.com/calendar/b/4/embed?wkst=1&amp;bgcolor=%230c2340&amp;ctz=America%2FChicago&amp;src=Y291bmNpbEBhY211dHNhLm9yZw&amp;color=%23039BE5&amp;showTz=0&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showTitle=0&amp;showNav=1&amp;showDate=0&amp;mode=MONTH" style="border-width:0" width="100%" height="600px" frameborder="0" scrolling="yes"></iframe> -->
                        <iframe src="https://calendar.google.com/calendar/embed?src=c_u7ovp4lquuj3lmsn4j3u92saqc%40group.calendar.google.com&ctz=America%2FChicago&amp;showCalendars=0&amp;showTabs=0&amp;showPrint=0&amp;showTitle=0&amp;showNav=1&amp;showDate=0&amp;mode=MONTH" style="border-width:0" width="100%" height="600px" frameborder="0" scrolling="yes"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
    <script>
        AOS.init();
    </script>
</body>