---
layout: default
---

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left">
        <h1>The Association for Computing Machinery</h1>
        <h2>at UTSA</h2>
        <a href="#about" class="btn-get-started">Learn More</a>
    </div>
</section>

<main id="main">
    {% include about-section.html %}
    {% include subgroup-section.html %}
    {% include information-section.html %}
    {% include team-section.html %}
    {% include faq-section.html %}
</main>