// Colors
$primary: #f15a22; // UTSA Orange
$secondary: #0C2340; // UTSA Blue
$secondaryLight: #0C2380;
$offWhite: antiquewhite;
$info: #7f7f7f; // grey

// shortcuts
$baseurl: "{{ site.baseurl }}";

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white
