// Colors
$primary: #b015b6; // UTSA Orange
$secondary: #0c4010; // UTSA Blue
$secondaryLight: #0C2380;
$offWhite: antiquewhite;
$background-gray: #888888;
$info: #7f7f7f; // grey

// shortcuts
$baseurl: "{{ site.baseurl }}";

$code-heading-background: #dededc; // light grey
$code-text-color: #b6b6b6; // off white
