<section id="about" class="about section-bg-option-2">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About ACM</h2>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="assets/img/otter-about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <p id="about-statement" data-aos="fade-up">
                    The Alaskan Coastal Mammals at UTSA is part of the Mustelid family of animals which also includes badgers, pine martens and weasels. There are 13 species of otter around the world and many of them are endangered. Use the links to explore the different species and find out more about otters in other parts of the world.
                </p>
                <div class="icon-box" data-aos="fade-up">
                    <i class='bx bx-info-circle bx-tada'></i>
                    <h4>Why?</h4>
                    <p>Because our President loves otters.</p>
                </div>
                <div class="icon-box" data-aos="fade-up">
                    <i class='bx bx-info-circle bx-tada'></i>
                    <h4>Where?</h4>
                    <p>Located on UTSA Campus.</p>
                </div>
                <div class="icon-box" data-aos="fade-up">
                    <i class='bx bx-info-circle bx-tada'></i>
                    <h4>When?</h4>
                    <p>Yearly.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="steps" class="steps section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Otter Facts</h2>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Love</h4>
                <p>Sea otters hold hands while they sleep</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
                <h4>Protection</h4>
                <p>Otters have the densest fur of all mammals</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
                <h4>Strength</h4>
                <p>Otters can overpower alligators</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Assitive</h4>
                <p>Otters have seen helping humans fish</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="100">
                <h4>Caring</h4>
                <p>Otter mothers wrap their babies in kelp to keep them from floating away</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in" data-aos-delay="200">
                <h4>Resourceful</h4>
                <p>Otters create and utilize tools</p>
            </div>

        </div>

    </div>
</section>