<section id="about" class="about section-bg-option-2">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>About ACM</h2>
        </div>

        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <p data-aos="fade-up">
                    The Association for Computing Machinery at UTSA is dedicated to giving members and students the
                    opportunity to gain experience, network, socialize, learn, and grow outside of the classroom in
                    all fields of technology and computing.
                </p>
                <div class="icon-box" data-aos="fade-up">
                    <i class='bx bx-info-circle bx-tada'></i>
                    <h4>Organization</h4>
                    <p>Our chapter is organized to serve students for academic, professional, and social purposes at
                        UTSA. The Chapter shall be involved with and conduct activities that are included below.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="steps" class="steps section-bg">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Engaging</h4>
                <p>students in stimulating computing activities</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Mentoring</h4>
                <p>students for academic and professional success</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Advancing</h4>
                <p>the art, science, engineering, and application of information technology</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Connecting</h4>
                <p>students with leaders in the computing field</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Encouraging</h4>
                <p>the pursuit of career opportunities in computing</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-in">
                <h4>Promoting</h4>
                <p>the highest professional and ethical standards</p>
            </div>

        </div>

    </div>
</section>