 <section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">About Us</h3>
                <p data-aos="fade-up">
                    ACM-W is an <strong>all-inclusive</strong> organization focused on tailoring its activities towards minorities.
                    ACM-W aims to create an engaging academic, professional, and social network for women and
                    minorities in technology. Our purpose is to connect students with leaders and encourage them
                    to pursue career opportunities in computing fields and to mentor for academic and professional
                    success.
                </p><br>
                <div data-aos="fade-up">
                    <h3>Join ACM-W!</h3>
                    <div>
                        <a href="{{ site.baseurl }}{% link calendar.html %}">
                            <div class="icon-box sub-org-button" tabindex="0">
                                <i class="bx bx-calendar-week"></i>
                                <h4>Events</h4>
                                <p>Our meetings are listed on our calendar</p>
                            </div>
                        </a>
                        <a href="https://discord.acmutsa.org" target="_blank">
                            <div class="icon-box sub-org-button" tabindex="0">
                                <!-- Need to update link to new discord -->
                                <i class="bx bxl-discord"></i>
                                <h4>Join</h4>
                                <p>Our Discord</p>
                            </div>
                        </a>
                        <a href="{{ site.baseurl }}{% link member_new.html %}">
                            <div class="icon-box sub-org-button" tabindex="0">
                                <i class="bx bx-user"></i>
                                <h4>Membership</h4>
                                <p>Fill out this form and become a member!</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7" data-aos="fade-left">
                <img src="{{ site.baseurl }}/assets/img/logos/480_acm_w_logo.png" alt="acm-w logo" class="img-fluid"></a>
            </div>
        </div>
    </div>
</section>