<main id="main">
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                    <h3 data-aos="fade-up">About Us</h3>
                    <p data-aos="fade-up">
                        ACM-W is an <strong>all-inclusive</strong> organization focused on tailoring its activities towards minorities.
                        ACM-W aims to create an engaging academic, professional, and social network for women and
                        minorities in technology. Our purpose is to connect students with leaders and encourage them
                        to pursue career opportunities in computing fields and to mentor for academic and professional
                        success.
                    </p><br>
                    <div data-aos="fade-up">
                        <h3>Join ACM-W!</h3>
                        <div>
                            <div class="icon-box">
                                <a href="../index.html#calendar"><i class="bx bx-calendar-week"></i></a>
                                <h4>Attending</h4>
                                <p>Our meetings are listed on our calendar!</p>
                            </div>
                            <div class="icon-box">
                                <a href="../information/join.html"><i class="bx bx-money"></i></a>
                                <h4>Dues</h4>
                                <p>Pay the ACM dues</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7" data-aos="fade-left">
                    <div class="powr-social-feed" id="6fad895e_1589171852"></div><script src="https://www.powr.io/powr.js?platform=embed"></script>
                </div>
            </div>

        </div>
    </section>
</main>