<!-- https://fullcalendar.io/docs -->
<!-- https://codepen.io/acerix/pen/wvGMBXr?editors=001 -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap',
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },
            // plugins: [ googleCalendarPlugin ],
            // googleCalendarApiKey: 'AIzaSyAVyY-1pmjLTtcdo_lwZEVv9qnucy04T7o',
            // events: {
            //     googleCalendarId: 'council@acmutsa.org',
            //     className: 'acm-event' // an option!
            // }
            // height: "auto"
        });
        calendar.render();
    });
</script>