<section id="contact" class="contact section-bg-option-2">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row no-gutters justify-content-center">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <a href="https://www.google.com/maps/place/The+University+of+Texas+at+San+Antonio/@29.5827351,-98.6189053,15z/data=!4m5!3m4!1s0x0:0x24e55c903c3a270c!8m2!3d29.5827351!4d-98.6189053">
                        <div class="address">
                                <i class="bx bx-map-pin"></i>
                            <h4>Location:</h4>
                            <p>1 UTSA Circle, San Antonio, TX 78249</p>
                        </div>
                    </a>

                    <a href="mailto: team@acmutsa.org">
                        <div class="email mt-4">
                                <i class="bx bx-envelope-open"></i>
                            <h4>Email:</h4>
                            <p>team@acmutsa.org</p>
                        </div>
                    </a>

                    <a href="https://discord.acmutsa.org">
                        <div class="email mt-4">
                                <i class="bx bxl-discord"></i>
                            <h4>Join</h4>
                            <p>Our Discord</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>