<section id="contact" class="contact section-bg-option-2">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row no-gutters justify-content-center">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <a href="https://www.google.com/maps/place/The+University+of+Texas+at+San+Antonio/@29.5827351,-98.6189053,15z/data=!4m5!3m4!1s0x0:0x24e55c903c3a270c!8m2!3d29.5827351!4d-98.6189053">
                            <i class="icofont-google-map"></i>
                        </a>
                        <h4>Location:</h4>
                        <p>1 UTSA Circle, San Antonio, TX 78249</p>
                    </div>

                    <div class="email mt-4">
                        <a href="mailto: team@acmutsa.org">
                            <i class="icofont-envelope"></i>
                        </a>
                        <h4>Email:</h4>
                        <p>team@acmutsa.org</p>
                    </div>
                </div>
            </div>
        </div>
        <!--                <div class="row mt-5 justify-content-center" data-aos="fade-up">-->
        <!--                    <div class="col-lg-10">-->
        <!--                        <div class="send-email">-->
        <!--                            <div class="text-center">-->
        <!--                                <a href="mailto: team@acmutsa.org">-->
        <!--                                    <button>Send a message to us!</button>-->
        <!--                                </a>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
    </div>
</section>