<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6 col-sm-12">
          <div class="footer-info">
            <h3>{{ site.title }}</h3>
              <h4>at UTSA</h4>
            <p>
              1 UTSA Circle, San Antonio<br>
              TX 78249, USA<br><br>
              <strong>Email:</strong> {{ site.email }}<br>
            </p>
            <div class="social-links mt-3">
              {% include social_links.html %}
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 footer-links d-none d-md-block">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link sponsorship.html %}">Sponsorship</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-2 footer-links d-none d-md-block">
          <h4>Our Sub-Organizations</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/acm-w.html %}">ACM-W</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/icpc.html %}">ACM ICPC</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/rowdy-creators.html %}">Rowdy Creators</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/bits-and-bytes.html %}">Bits & Bytes</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/rowdyhacks.html %}">RowdyHacks</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link suborg/code-quantum.html %}">Code Quantum</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-2 footer-links d-none d-md-block">
          <h4>Resources</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link member/new.html %}">Register</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link feedback.html %}">Feedback</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link member/update-info.html %}">Update Member</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link member/update-address.html %}">Update Address</a></li>
            <li><i class="bx bx-chevron-right"></i><a href="https://drive.google.com/file/d/1IaRj6Nl2F467vu9xBJajbMHbHri4ymUo/view?usp=sharing">Constitution</a></li>
<!--            <li><i class="bx bx-chevron-right"></i><a href="">Code of Conduct</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i><a href="{{ site.baseurl }}{% link faq.html %}">F.A.Q.</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy;<strong><span>Association of Computing Machinery at UTSA</span> {{ site.time | date: '%Y' }}</strong>. All Rights Reserved.
    </div>
  </div>
</footer>

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}{% link assets/js/main.js %}"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>

