<footer class="py-5">
  <hr>
  <div class="container text-center text-info">
    <div class="row">
      <div class="col">
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        All content copyright ACM UTSA &copy; {{ site.time | date: '%Y' }}.
      </div>
    </div>
    <div class="row">
      <div class="col">
        All rights reserved.
      </div>
    </div>
  </div>
</footer>

<!--<footer id="footer">-->
<!--  <div class="footer-top">-->
<!--    <div class="container">-->
<!--      <div class="row">-->

<!--        <div class="col-lg-5 col-md-6 col-sm-12">-->
<!--          <div class="footer-info">-->
<!--            <h3>Association of Computing Machinery</h3>-->
<!--            <p>-->
<!--              1 UTSA Circle, San Antonio<br>-->
<!--              TX 78249, USA<br><br>-->
<!--              <strong>Email:</strong> team@acmutsa.org<br>-->
<!--            </p>-->
<!--            <div class="social-links mt-3">-->
<!--              <a href="https://twitter.com/acm_utsa" class="twitter"><i class="bx bxl-twitter"></i></a>-->
<!--              <a href="https://www.facebook.com/acmutsa/" class="facebook"><i class="bx bxl-facebook"></i></a>-->
<!--              <a href="https://www.instagram.com/acm_utsa/" class="instagram"><i-->
<!--                      class="bx bxl-instagram"></i></a>-->
<!--              <a href="https://www.linkedin.com/company/acmutsa/" class="linkedin"><i-->
<!--                      class="bx bxl-linkedin"></i></a>-->
<!--              <a href="https://www.youtube.com/channel/UCBBBNJjoZmd84FCsGatUlOg"><i-->
<!--                      class='bx bxl-youtube'></i></a>-->
<!--              <a href="https://utsa.campuslabs.com/engage/organization/acm"><i class='bx bxs-school'></i></a>-->
<!--              <a href="https://discord.gg/Z3RnV4e"><i class='bx bxl-discord'></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-2 col-md-2 footer-links d-none d-md-block">-->
<!--          <h4>Useful Links</h4>-->
<!--          <ul>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="information/join.html">Join ACM</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="index.html#hero" class="scrollto">Home</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="index.html#about" class="scrollto">About us</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="index.html#features" class="scrollto">Groups</a></li>-->
<!--          </ul>-->
<!--        </div>-->

<!--        <div class="col-lg-2 col-md-2 footer-links d-none d-md-block">-->
<!--          <h4>Our Groups</h4>-->
<!--          <ul>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="groups/acm-w.html">ACM-W</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="groups/icpc.html">ACM-ICPC</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="groups/rowdyhacks.html">RowdyHacks</a></li>-->
<!--            <li><i class="bx bx-chevron-right"></i> <a href="groups/rowdy-creators.html">Rowdy Creators</a></li>-->
<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="container">-->
<!--    <div class="copyright">-->
<!--      &copy; Copyright <strong><span>Association of Computing Machinery</span></strong>. All Rights Reserved-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>&lt;!&ndash; End Footer &ndash;&gt;-->

<!-- JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

