<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="{{ site.baseurl }}/assets/img/logos/icpc-logo.png" class="img-fluid" alt="icpc logo">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">What is ICPC?</h3>
                <p data-aos="fade-up">
                    The ACM-ICPC, or International Collegiate Programming Contest, is a world-wide programming contest
                    where thousands of 3-person teams compete by solving anywhere from 8 to 12 algorithm problems of
                    varying difficulty, from easy to extremely hard.
                </p><br>
                <h3 data-aos="fade-up">Interested in Joining?</h3>
                <div data-aos="fade-up">
                    <a href="mailto:icpcdirector@acmutsa.org">
                        <div class="icon-box sub-org-button" tabindex="0">
                            <i class="bx bx-mail-send"></i>
                            <h4>Contact</h4>
                            <p>Us at icpcdirector@acmutsa.org</p>
                        </div>
                    </a>
                    <a href="https://discord.gg/qfckfeQ" target="_blank">
                        <div class="icon-box sub-org-button" tabindex="0">
                            <i class="bx bxl-discord"></i>
                            <h4>Join</h4>
                            <p>Our Discord</p>
                        </div>
                    </a>
                    <a href="{{ site.baseurl }}{% link member/new.html %}">
                        <div class="icon-box sub-org-button" tabindex="0">
                            <i class="bx bx-user"></i>
                            <h4>Membership</h4>
                            <p>Fill out this form and become a member!</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>