<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="{{ site.baseurl }}/assets/img/logos/icpc-logo.png" class="img-fluid" alt="icpc logo">
            </div>
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">What is ICPC?</h3>
                <p data-aos="fade-up">
                    The ACM-ICPC, or International Collegiate Programming Contest, is a world-wide programming contest
                    where thousands of 3-person teams compete by solving anywhere from 8 to 12 algorithm problems of
                    varying difficulty, from easy to extremely hard.
                </p><br>
                <h3 data-aos="fade-up">Interested in Joining?</h3>
                <div data-aos="fade-up">
                    <div class="icon-box">
                        <i class="bx bx-mail-send"></i>
                        <h4>Contact</h4>
                        <p>Mark Robinson at Mark.Robinson@utsa.edu</p>
                    </div>
                    <div class="icon-box">
                        <a href="https://discord.gg/qfckfeQ" target="_blank"><i class="bx bxl-discord"></i></a>
                        <h4>Join</h4>
                        <p>Our Discord</p>
                    </div>
                    <div class="icon-box">
                        <a href="../information/join.html"><i class="bx bx-user"></i></a>
                        <h4>Membership</h4>
                        <p>Reach our threshold</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>