<section id="information" class="services section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Information</h2>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                <a class="icon-box icon-box-pink" href="information/join.html">
                    <div class="icon"><i class="bx bx-unite bx-tada"></i></div>
                    <h4 class="title">Join</h4>
                    <p class="description">Click here to see how we're basing membership for Fall 2021!<br> Also includes
                        information for frequently asked questions.</p>
                </a>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                 data-aos-delay="100">
                <a class="icon-box icon-box-cyan" href="information/rewards.html">
                    <div class="icon"><i class='bx bx-trophy bx-tada'></i></div>
                    <h4 class="title">Rewards</h4>
                    <p class="description">Standings for current members in the ACM organization</p>
                </a>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-12 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up"
                 data-aos-delay="200">
                <a class="icon-box icon-box-green" href="information/donate.html">
                    <div class="icon"><i class='bx bx-money bx-tada'></i></div>
                    <h4 class="title">Donate</h4>
                    <p class="description">Click here to donate to the ACM organization</p>
                </a>
            </div>
        </div>
    </div>
</section>