<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <!-- text logo top left corner-->
      <!-- <h1 class="text-light"><a href="index.html">ACM UTSA</a></h1> -->
      <!-- image logo top left corner-->
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logos/logo.png" alt="ACM Logo" class="img-fluid"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <!-- can add up to two layers of drop downs [class="drop-down"] -->
      <ul>
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}{% link sponsorship.html %}">Sponsorship</a></li>
        <li><a href="{{ site.baseurl }}{% link team.html %}">Team</a></li>
        <li><a href="{{ site.baseurl }}{% link calendar.html %}">Calendar</a></li>
        <li class="drop-down"><a href="">Sub Orgs</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link acmw.html %}">ACM-W</a></li>
            <li><a href="{{ site.baseurl }}{% link icpc.html %}">ACM ICPC</a></li>
            <li><a href="{{ site.baseurl }}{% link rowdyhacks.html %}">RowdyHacks</a></li>
            <li><a href="{{ site.baseurl }}{% link rowdy_creators.html %}">Rowdy Creators</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}{% link donate.html %}">Donate</a></li>
        <li class="drop-down"><a href="">Resources</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link new_member.html %}">Register</a></li>
            <li><a href="{{ site.baseurl }}{% link feedback.html %}">Feedback</a></li>
            <li><a href="https://drive.google.com/file/d/1IaRj6Nl2F467vu9xBJajbMHbHri4ymUo/view?usp=sharing">Constitution</a></li>
<!--            <li><a href="">Code of Conduct</a></li>-->
            <li><a href="https://elections.acmutsa.org">Elections</a></li>
<!--            <li><a href="{{ site.baseurl }}{% link faq.html %}">F.A.Q.</a></li>-->
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
