<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <!-- text logo top left corner-->
      <!-- <h1 class="text-light"><a href="index.html">ACM UTSA</a></h1> -->
      <!-- image logo top left corner-->
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logos/logo.png" alt="ACM Logo" class="img-fluid"></a>
    </div>

    {% if page.title=="home" %}
      {% assign home="active" %}
    {% elsif page.title=="team" %}
      {% assign team="active" %}
    {% elsif page.title=="calendar" %}
      {% assign calendar="active" %}
    {% elsif page.title=="suborg" %}
      {% assign suborg="active" %}
    {% elsif page.title=="sponsorship" %}
      {% assign sponsorship="active" %}
    {% elsif page.title=="donate" %}
      {% assign donate="active" %}
    {% elsif page.title=="resource" %}
      {% assign resource="active" %}
    {% endif %}

    <nav class="nav-menu d-none d-lg-block">
      <!-- can add up to two layers of drop downs [class="drop-down"] -->
      <ul>
        <li class="{{ home }}"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="{{ team }}"><a href="{{ site.baseurl }}{% link team.html %}">Team</a></li>
        <li class="{{ calendar }}"><a href="{{ site.baseurl }}{% link calendar.html %}">Calendar</a></li>
        <li class="drop-down {{ suborg }}"><a href="">Sub Orgs</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link suborg_acmw.html %}">ACM-W</a></li>
            <li><a href="{{ site.baseurl }}{% link suborg_icpc.html %}">ACM ICPC</a></li>
            <li><a href="{{ site.baseurl }}{% link suborg_rowdy_creators.html %}">Rowdy Creators</a></li>
            <li><a href="{{ site.baseurl }}{% link suborg_cic.html %}">Coding in Color</a></li>
            <li><a href="{{ site.baseurl }}{% link suborg_rowdyhacks.html %}">RowdyHacks</a></li>
            <li><a href="https://cqhacks.org/">Code Quantum</a></li>
          </ul>
        </li>
        <li class="{{ sponsorship }}"><a href="{{ site.baseurl }}{% link sponsorship.html %}">Sponsorship</a></li>
        <li class="{{ donate }}"><a href="{{ site.baseurl }}{% link donate.html %}">Donate</a></li>
        <li class="drop-down {{ resource }}"><a href="">Resources</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link member_new.html %}">Register</a></li>
            <li><a href="{{ site.baseurl }}{% link member_update_info.html %}">Update Member</a></li>
            <li><a href="{{ site.baseurl }}{% link member_update_address.html %}">Update Address</a></li>
            <li><a href="{{ site.baseurl }}{% link membership/attendance.html %}">Track Attendance</a></li>
            <li><a href="{{ site.baseurl }}{% link feedback.html %}">Feedback</a></li>
            <li><a href="https://drive.google.com/file/d/1IaRj6Nl2F467vu9xBJajbMHbHri4ymUo/view?usp=sharing">Constitution</a></li>
<!--            <li><a href="">Code of Conduct</a></li>-->
            <li><a href="https://elections.acmutsa.org">Elections</a></li>
<!--            <li><a href="{{ site.baseurl }}{% link faq.html %}">F.A.Q.</a></li>-->
          </ul>
        </li>
        <li>
          <a href="https://portal.acmutsa.org">
            <button>
              Portal
            </button>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
