<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <!-- text logo top left corner-->
      <!-- <h1 class="text-light"><a href="index.html">ACM UTSA</a></h1> -->
      <!-- image logo top left corner-->
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/logos/logo.png" alt="" class="img-fluid"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <!-- can add up to two layers of drop downs [class="drop-down"] -->
      <ul>
        <li class="active"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="index.html#about">About</a></li>
        <li class="drop-down"><a href="">Groups</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link acmw.html %}">ACM-W</a></li>
            <li><a href="{{ site.baseurl }}{% link icpc.html %}">ACM ICPC</a></li>
            <li><a href="{{ site.baseurl }}{% link rowdyhacks.html %}">RowdyHacks</a></li>
            <li><a href="{{ site.baseurl }}{% link rowdy_creators.html %}">Rowdy Creators</a></li>
          </ul>
        </li>
<!--        <li><a href="information/join.html">Join</a></li>-->
<!--        <li><a href="information/donate.html">Donate</a></li>-->
<!--        <li><a href="#calendar">Calendar</a></li>-->
        <li><a href="#team">Team</a></li>
        <li><a href="#faq">F.A.Q.</a></li>
<!--        <li><a href="#contact">Contact Us</a></li>-->
      </ul>
    </nav>
  </div>
</header>