<!-- https://iconify.design/icon-sets/ -->

<div class="col-xl-3 col-lg-4 col-md-6 {{ councilLevel }}" data-category="{{ councilLevel }}">
    <div class="member">
        <img src="{{ site.baseurl }}/assets/img/team/{{ image }}" class="img-fluid" alt="{{ name }}">
        <div class="member-info">
            <div class="member-info-content">
                <h4>{{ name }}</h4>
                <span>{{ title }}</span>
            </div>
            {% if linkedin != "" %}
                <div class="social">
                    <a href="https://www.linkedin.com/in/{{ linkedin }}"><i class="iconify" data-icon="cib:linkedin" data-inline="false"></i></a>
<!--                    <a href="https://www.linkedin.com/in/{{ twitter }}"><i class="iconify" data-icon="cib:twitter" data-inline="false"></i></a>-->
<!--                    <a href="https://www.linkedin.com/in/{{ facebook }}"><i class="iconify" data-icon="cib:facebook" data-inline="false"></i></a>-->
<!--                    <a href="https://www.linkedin.com/in/{{ instagram }}"><i class="iconify" data-icon="cib:instagram" data-inline="false"></i></a>-->
                </div>
            {% endif %}
        </div>
    </div>
</div>