<!-- https://iconify.design/icon-sets/ -->

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
    <div class="member">
        <img src="{{ site.baseurl }}/assets/img/team/{{ image }}" class="img-fluid" style="
            aspect-ratio: 1 / 1 !important;
            object-fit: cover !important;

        " alt="{{ name }}'s profile picture">
        <div class="member-info">
            <div class="member-info-content">
                <h4>{{ name }}</h4>
                <span>{{ title }}</span>
            </div>
                <div class="social">
                    {% if linkedin != "" %}
                    <a href="https://www.linkedin.com/in/{{ linkedin }}"><i class="iconify" data-icon="cib:linkedin" data-inline="false"></i></a>
                    {% endif %}

                    {% if github != "" %}
                    <a href="https://github.com/{{ github }}"><i class="iconify" data-icon="cib:github" data-inline="false"></i></a>
                    {% endif %}

                    {% if instagram != "" %}
                    <a href="https://www.instagram.com/{{ instagram }}"><i class="iconify" data-icon="cib:instagram" data-inline="false"></i></a>
                    {% endif %}

                    {% if other != "" %}
                    <a href="{{ other }}"><i class="iconify" data-icon="fa-regular:plus-square" data-inline="false"></i></a>
                    {% endif %}
                </div>
        </div>
    </div>
</div>