<div class="color-overlay"></div>
<video id="videoBG" autoplay muted loop poster="{{ site.baseurl }}/assets/video/rowdy-creators-thumbnail.jpg">
    <source src="../assets/video/rowdy-creators-background.mp4" type="video/mp4">
</video>

<section id="statement" class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
    <div id="title" class="container text-center">
        <h1>Rowdy Creators</h1>
        <h2>Rowdy Creators gives students interested in technology the opportunity to learn new
            skills, network with other students, and create/develop hands-on projects.</h2>
        <h2>This student-run group channels the skills of various disciplines (Engineering, Computer Science,
            Business, etc.) into technology projects using software and/or hardware.</h2>
        <h2>No experience required to join!</h2>
        <a href="https://rowdycreators.org/" class="btn-get-started scrollto">Go To Rowdycreators.org</a>
    </div>

</section>