<div class="color-overlay"></div>

<video id="videoBG" autoplay muted loop poster="{{ site.baseurl }}/assets/video/rowdyhacks-video-thumbnail.jpg">
    <source src="../assets/video/RowdyHacks_promo_video.mp4" type="video/mp4">
</video>

<section id="statement" class="col-12 d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
    <div id="title" class="container text-center">
        <h1>RowdyHacks</h1>
        <h2>RowdyHacks is ACM UTSA's annual hackathon held in the Fall.</h2>
        <h2>Every year, a committee of members get together to help plan and organize the largest hackathon in San Antonio, TX to accommodate hundreds of students, sponsors, volunteers, and mentors.</h2>
        <a href="https://www.rowdyhacks.org/" class="btn-get-started scrollto">Go To RowdyHacks.org</a>
    </div>
</section>

<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 hidden-on-mobile center-in-container" data-aos="fade-right">
                <img src="{{ site.baseurl }}/assets/img/logos/rowdyhacks_21_logo.png" class="img-fluid" alt="">
            </div>

            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">Interested in Participating?</h3>
                <div data-aos="fade-up">
                    <div class="sub-org-buttons">
                        <div class="button_cont">
                            <a class="main-button"
                               href="mailto:team@rowdyhacks.org"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-mail-send"></i>
                                    <h4>Contact Us</h4>
                                    <p>team@rowdyhacks.org</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="https://discord.acmutsa.org"
                               target="_blank"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bxl-discord"></i>
                                    <h4>Join</h4>
                                    <p>ACM UTSA's Discord</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="{{ site.baseurl }}{% link member_new.html %}"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-user"></i>
                                    <h4>Membership</h4>
                                    <p>Fill out this form and become a member!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>