<div class="color-overlay"></div>
<video id="videoBG" autoplay muted loop poster="{{ site.baseurl }}/assets/video/rowdy-creators-thumbnail.jpg">
    <source src="../assets/video/rowdy-creators-background.mp4" type="video/mp4">
</video>

<section id="statement" class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
    <div id="title" class="container text-center">
        <h1>Rowdy Creators</h1>
        <h2>Rowdy Creators gives students interested in technology the opportunity to learn new
            skills, network with other students, and create/develop hands-on projects.</h2>
        <h2>This student-run group channels the skills of various disciplines (Engineering, Computer Science,
            Business, etc.) into technology projects using software and/or hardware.</h2>
        <h2>No experience required to join!</h2>
        <a href="https://rowdycreators.org/" class="btn-get-started scrollto">Go To Rowdycreators.org</a>
    </div>
</section>

<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <div data-aos="fade-up">
                    <h3>Join Rowdy Creators!</h3>

                    <div class="sub-org-buttons">
                        <div class="button_cont">
                            <a class="main-button"
                               href="{{ site.baseurl }}{% link calendar.html %}"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-calendar-week"></i>
                                    <h4>Events</h4>
                                    <p>Our meetings are listed on our calendar</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="https://discord.gg/gvqbjZU"
                               target="_blank"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bxl-discord"></i>
                                    <h4>Join</h4>
                                    <p>Our Discord</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="{{ site.baseurl }}{% link member_new.html %}"
                               target="_blank"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-user"></i>
                                    <h4>Membership</h4>
                                    <p>Fill out this form and become a member!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 hidden-on-mobile center-in-container" data-aos="fade-left">
                <img src="{{ site.baseurl }}/assets/img/logos/480_rowdy_creators_logo.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>