<div class="color-overlay"></div>
<video id="videoBG" autoplay muted loop poster="{{ site.baseurl }}/assets/video/rowdyhacks-video-thumbnail.jpg">
    <source src="../assets/video/RowdyHacks_promo_video.mp4" type="video/mp4">
</video>

<section id="statement" class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-up">
    <div id="title" class="container text-center">
        <h1>RowdyHacks</h1>
        <h2>RowdyHacks is ACM UTSA's annual hackathon held in April.</h2>
        <h2>Every year, a committee of ACM members get together to help plan and organize the biggest hackathon in San Antonio, TX accommodating hundreds of students, sponsors, volunteers, and mentors.</h2>
        <h2>Interested in sponsorship or being a RowdyHacks organizer? Reach out to us at team@rowdyhacks.org to see how you can get involved.</h2>
        <a href="https://www.rowdyhacks.io/" class="btn-get-started scrollto">Go To RowdyHacks.io</a>
    </div>

</section>