<a href="https://twitter.com/acm_utsa" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
<a href="https://www.facebook.com/acmutsa/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
<a href="https://www.instagram.com/acm_utsa/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/acmutsa/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
<a href="https://www.youtube.com/ACMUTSA" target="_blank"><i class='bx bxl-youtube'></i></a>
<a href="https://utsa.campuslabs.com/engage/organization/acm" target="_blank"><i class='bx bxs-school'></i></a>
<a href="https://discord.acmutsa.org" target="_blank"><i class='bx bxl-discord'></i></a>