<a href="https://twitter.com/acm_utsa" class="twitter"><i class="bx bxl-twitter"></i></a>
<a href="https://www.facebook.com/acmutsa/" class="facebook"><i class="bx bxl-facebook"></i></a>
<a href="https://www.instagram.com/acm_utsa/" class="instagram"><i
        class="bx bxl-instagram"></i></a>
<a href="https://www.linkedin.com/company/acmutsa/" class="linkedin"><i
        class="bx bxl-linkedin"></i></a>
<a href="https://www.youtube.com/ACMUTSA"><i
        class='bx bxl-youtube'></i></a>
<a href="https://utsa.campuslabs.com/engage/organization/acm"><i class='bx bxs-school'></i></a>
<a href="https://discord.gg/Z3RnV4e"><i class='bx bxl-discord'></i></a>