<section id="Sponsorship" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Need-To-Know</h2>
        </div>

        <!--Kilobyte Sponsors-->
        <!--Megabyte Sponsors-->
        <!--Gigabyte Sponsors-->
        <!--Terabyte Sponsors-->
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 col-lg-4 col-sm-12 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
                <a class="icon-box icon-box-pink" href="">
                    <h4 class="title">Join</h4>
                    <p class="description">Click here to see how we're doing membership for Fall 2021!<br> Also includes information for frequently asked questions.</p>
                </a>
            </div>
        </div>
    </div>
</section>