{% assign sponsorLevel="terabyte" %}

{% assign imageSource="utsa_cos.png" %}
{% assign altText="UTSA College of Science" %}
{% include sponsor.html %}

{% assign imageSource="utsa_cs.png" %}
{% assign altText="UTSA College of Science" %}
{% include sponsor.html %}

{% assign imageSource="utsa_career_center.png" %}
{% assign altText="UTSA College of Science" %}
{% include sponsor.html %}

{% assign imageSource="utsa_cos.png" %}
{% assign altText="UTSA College of Science" %}
{% include sponsor.html %}

{% assign imageSource="utsa_cos.png" %}
{% assign altText="UTSA College of Science" %}
{% include sponsor.html %}