<div class="section-title" data-aos="fade-up">
<!--    <h2>Our Sponsors</h2>-->
    <h2>Want to Sponsor ACM? Check out our packet!</h2>
<!--    <h3>You can find the pack here</h3>-->
    <a href="" target="_blank"><h3 class="sub-org-button">Comming Soon!</h3></a>
</div>

<!--Liquid Template to add a sponsor-->
{% comment %}
    {% assign imageSource="utsa_cos.png" %}
    {% assign altText="UTSA College of Science" %}
    {% include sponsor.html %}
{% endcomment %}


<!--&lt;!&ndash;Terabyte Sponsors&ndash;&gt;-->
<!--<div class="row d-flex justify-content-center">-->
<!--    {% include sponsors_at_terabyte.html %}-->
<!--</div>-->

<!--&lt;!&ndash;Gigabyte Sponsors&ndash;&gt;-->
<!--<div class="row d-flex justify-content-center">-->
<!--    {% include sponsors_at_gigabyte.html %}-->
<!--</div>-->

<!--&lt;!&ndash;Megabyte Sponsors&ndash;&gt;-->
<!--<div class="row d-flex justify-content-center">-->
<!--    {% include sponsors_at_megabyte.html %}-->
<!--</div>-->

<!--&lt;!&ndash;Kilobyte Sponsors&ndash;&gt;-->
<!--<div class="row d-flex justify-content-center">-->
<!--    {% include sponsors_at_kilobyte.html %}-->
<!--</div>-->