<section id="sponsorship">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Our Sponsors</h2>
        </div>

        <!--Terabyte Sponsors-->
        {% assign sponsorLevel="terabyte" %}
        <div class="row d-flex justify-content-center">
            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cs.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_career_center.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}
        </div>

        <!--Gigabyte Sponsors-->
        {% assign sponsorLevel="gigabyte" %}
        <div class="row d-flex justify-content-center">
            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}
        </div>

        <!--Megabyte Sponsors-->
        {% assign sponsorLevel="megabyte" %}
        <div class="row d-flex justify-content-center">
            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}
        </div>

        <!--Kilobyte Sponsors-->
        {% assign sponsorLevel="kilobyte" %}
        <div class="row d-flex justify-content-center">
            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}

            {% assign imageSource="utsa_cos.png" %}
            {% assign altText="UTSA College of Science" %}
            {% include sponsor.html %}
        </div>
    </div>
</section>