<div class="section-title" data-aos="fade-up">
    <h2>Sponsor ACM Today!</h2>
</div>

<div class="perks-grid" data-aos="fade-up">
    <!-- Header Section -->
    <div style="border-bottom: 2px solid #f15a22"></div>
    <div class="header"><span>Kilobyte</span><br>$1500</div>
    <div class="header"><span>Megabyte</span><br>$3000</div>
    <div class="header"><span>Gigabyte</span><br>$6000</div>
    <div class="header"><span>Terabyte</span><br>$10000</div>

    <!-- Statement + perk sections Section -->
    <div class="statement">Logo on Chapter's Website</div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Logo on our newsletter</div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Distribute swag and materials to members</div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">RowdyHacks Partner Tier</div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>

    <div class="statement">ACM Resume Booklet and membership Database Access</div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Your organization's events on the ACM UTSA Opportunities Calendar</div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Host a workshop meeting</div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Logo on ACM Shirt</div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">RowdyHacks Bronze Sponsorship</div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="perk"></div>

    <div class="statement">End of year Banquet Invitation</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Your organization's events showcased in our newsletter</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">A <span>second</span> workshop meeting</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Branded Social Event</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">Active social media promotion</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>
    <div class="statement">RowdyHacks Silver Sponsorship</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="perk"></div>

    <div class="statement">Invitation to Fall and Spring Open House meetings</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="statement">A <span>third</span> workshop meeting</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="statement">Host a competition</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="statement">Offer a tour of your office space</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="statement">RowdyHacks Gold Sponsorship</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
    <div class="statement">Semesterly Email</div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="empty"></div>
    <div class="perk"></div>
</div>