<section id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
<!--                            <a href="groups/acm-w.html"></a> -->
                            <h4>ACM-W</h4>
                            <p>Minority centric chapter focusing on creating an academic and professional
                                community</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <h4>ICPC</h4>
                            <p>Competitive programming for student looking to expand their coding skills</p>
                            <a class="d-block d-md-none" href="{{ site.baseurl }}{% link icpc.html %}">
                                <h4>ICPC</h4>
                                <p>Competitive programming for student looking to expand their coding skills</p>
                            </a>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <h4>RowdyHacks</h4>
                            <p>ACM's 24-hour hackathon competition with hundreds of students, sponsors, and
                                prizes </p>
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">
                            <h4>Rowdy Creators</h4>
                            <p>ACM’s multi-discipline incubator specializing in helping students learn and
                                contribute to long-term technology projects</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 ml-auto d-none d-lg-block" data-aos="fade-left">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <a href="{{ site.baseurl }}{% link acmw.html %}"><img src="assets/img/logos/480_acm_w_logo.png" alt="" class="img-fluid"></a>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <a href="{{ site.baseurl }}{% link icpc.html %}"><img src="assets/img/logos/size480.png" alt="" class="img-fluid"></a>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <figure>
                            <a href="{{ site.baseurl }}{% link rowdy_creators.html %}"><img src="assets/img/logos/480_rowdy_creators_logo.png" alt="" class="img-fluid"></a>
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <a href="{{ site.baseurl }}{% link rowdyhacks.html %}"><img src="assets/img/logos/480_rowdyhacks21.png" alt="" class="img-fluid"></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>