<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">What is Code Quantum?</h3>
                <p data-aos="fade-up">
                    CodeQuantum is San Antonio’s first 24-hour hackathon geared towards marginalized
                    genders to promote inclusivity and diversity! Organized by the ACM-W chapter at
                    UTSA, CodeQuantum is dedicated to creating a safe hacking space for students in
                    the tech field. This first iteration of CodeQuantum will be expecting 50 hackers.
                </p><br>
                <h3 data-aos="fade-up">Interested in Participating?</h3>
                <div data-aos="fade-up">
                    <form action="http://codequantumutsa.com/">
                        <button type="submit" class="btn-primary btn-block">
                            <span>Visit Us</span>
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bx bx-world"></i>
                            </div>
                        </button>
                    </form>
                    <form action="https://drive.google.com/file/d/1ETeao2MnMO9b-wmxt-bGjXHVvrfSSnr3/view?usp=sharing">
                        <button type="submit" class="btn-primary btn-block">
                            <span>Sponsorship</span>
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bx bx-group"></i>
                            </div>
                        </button>
                    </form>
                    <form action="{{ site.baseurl }}{% link member_new.html %}">
                        <button type="submit" class="btn-primary btn-block">
                            <span>Membership</span>
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="bx bx-user"></i>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 align-self-center text-center" data-aos="fade-right">
                <img src="{{ site.baseurl }}/assets/img/logos/codequantum-logo.png" class="img-fluid" alt="Code Quantum Logo">
            </div>
        </div>
    </div>
</section>