<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">What is Code Quantum?</h3>
                <p data-aos="fade-up">
                    CodeQuantum is San Antonio’s first 24-hour hackathon geared towards marginalized
                    genders to promote inclusivity and diversity! Organized by the ACM-W chapter at
                    UTSA, CodeQuantum is dedicated to creating a safe hacking space for students in
                    the tech field. This first iteration of CodeQuantum will be expecting 50 hackers.
                </p><br>
                <h3 data-aos="fade-up">Interested in Participating?</h3>
                <div data-aos="fade-up">
                    <div class="sub-org-buttons">
                        <div class="button_cont">
                            <a class="main-button"
                               href="http://codequantumutsa.com/"
                               rel="nofollow noopener noreferrer"
                               target="_blank"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-world"></i>
                                    <h4>Visit Us</h4>
                                    <p>and check out our website</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="https://drive.google.com/file/d/1ETeao2MnMO9b-wmxt-bGjXHVvrfSSnr3/view?usp=sharing"
                               target="_blank"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-group"></i>
                                    <h4>Sponsorship</h4>
                                    <p>Check out our packet</p>
                                </div>
                            </a>
                        </div>
                        <div class="button_cont">
                            <a class="main-button"
                               href="{{ site.baseurl }}{% link member_new.html %}"
                               rel="nofollow noopener noreferrer"
                               draggable="false">
                                <div class="icon-box">
                                    <i class="bx bx-user"></i>
                                    <h4>Membership</h4>
                                    <p>Fill out this form and become a member!</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7 hidden-on-mobile center-in-container" data-aos="fade-right">
                <img src="{{ site.baseurl }}/assets/img/logos/cq-logo.png" class="img-fluid" alt="cq logo">
            </div>
        </div>
    </div>
</section>