<section id="suborgs" class="suborgs section-bg-option-2">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Our Sub Organizations</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item" data-aos="fade-right">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                            <img src="assets/img/logos/480_acm_w_logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="acm-w logo"/>
                            <h3 class="inline-name">ACM-W</h3>
                            <p class="hidden-on-desktop">Minority centric chapter focusing on creating an academic and professional community</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-right">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <img src="{{ site.baseurl }}/assets/img/logos/480-icpc-logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="icpc logo"/>
                            <h2 class="inline-name">ICPC</h2>
                            <p class="hidden-on-desktop">Competitive programming for students looking to expand their coding skills</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-right">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <img src="assets/img/logos/480_rowdy_creators_logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="rowdy creators logo"/>
                            <h2 class="inline-name">Rowdy Creators</h2>
                            <p class="hidden-on-desktop">ACM's multi-discipline incubator specializing in helping students learn and contribute to long-term technology projects</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-right">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">
                            <img src="assets/img/logos/cic-logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="coding in color logo"/>
                            <h2 class="inline-name">Coding in Color</h2>
                            <p class="hidden-on-desktop">We strive to create a safe space for black people in the technology world to promote representation in our community.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-right">
                        <a class="nav-link" data-toggle="tab" href="#tab-5">
                            <img src="assets/img/logos/480-rh-logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="rowdyhacks city logo"/>
                            <h2 class="inline-name">RowdyHacks</h2>
                            <p class="hidden-on-desktop">ACM UTSA's 24-hour hackathon competition with hundreds of students, sponsors, and prizes</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-right">
                        <a class="nav-link" data-toggle="tab" href="#tab-6">
                            <img src="assets/img/logos/480-cq-logo.png" width="32" height="32" class="inline-logo hidden-on-desktop" alt="code quantum logo"/>
                            <h2 class="inline-name">Code Quantum</h2>
                            <p class="hidden-on-desktop">ACM UTSA's first annual hackathon for underrepresented genders</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7 ml-auto center-in-container hidden-on-mobile" data-aos="fade-left">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <img src="assets/img/logos/480_acm_w_logo.png" alt="acm-w logo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <img src="{{ site.baseurl }}/assets/img/logos/480-icpc-logo.png" alt="icpc logo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <img src="assets/img/logos/480-rc-logo.png" alt="rowdy creators logo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <figure>
                            <img src="assets/img/logos/cic-logo.png" alt="coding in color logo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-5">
                        <figure>
                            <img src="assets/img/logos/480-rh-logo.png" alt="rowdyhacks city logo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-6">
                        <figure>
                            <img src="assets/img/logos/480-cq-logo.png" alt="code quantum logo" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>