<section id="about" class="about section-bg-option-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
                <h3 data-aos="fade-up">What is Code Quantum?</h3>
                <p data-aos="fade-up">
                    CodeQuantum is San Antonio’s first 24 hour hackathon geared towards femininity! Organized by the
                    ACM-W chapter at UTSA, CodeQuantum is dedicated to creating a safe hacking space for those who are
                    <b>women</b>, <b>feminine</b>, or <b>non-binary</b> individuals in the tech field.
                </p><br>
                <h3 data-aos="fade-up">Interested in Joining?</h3>
                <div data-aos="fade-up">
                    <div class="icon-box">
                        <a href="http://codequantumutsa.com/" target="_blank"><i class="bx bx-world"></i></a>
                        <h4>Visit Us</h4>
                        <p>and checkout our website!</p>
                    </div>
                    <div class="icon-box">
                        <a href="mailto:team@codequantum.com" target="_blank"><i class="bx bx-mail-send"></i></a>
                        <h4>Contact</h4>
                        <p>us here at team@codequantum.com</p>
                    </div>
                    <div class="icon-box">
                        <a href="https://drive.google.com/file/d/1ETeao2MnMO9b-wmxt-bGjXHVvrfSSnr3/view?usp=sharing" target="_blank"><i class="bx bx-group"></i></a>
                        <h4>Sponsorship</h4>
                        <p>Check out our packet!</p>
                    </div>
                </div>
            </div>
<!--            <div class="col-xl-6 col-lg-7" data-aos="fade-right">-->
<!--                <img src="{{ site.baseurl }}/assets/img/logos/icpc-logo.png" class="img-fluid" alt="icpc logo">-->
<!--            </div>-->
        </div>
    </div>
</section>