<div class="section-title" data-aos="fade-up">
    <h2>ACM-W Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- Vice President -->
        {% assign image="default-pfp.png" %}
        {% assign name="Isabella Montemayor" %}
        {% assign title="Vice President" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="default-pfp.png" %}
        {% assign name="Natalie Mosqueda" %}
        {% assign title="Secretary" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="default-pfp.png" %}
        {% assign name="Mira Espiritu" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Social Media -->
        {% assign image="default-pfp.png" %}
        {% assign name="Elizabeth Barrera" %}
        {% assign title="Social Media" %}
        {% assign linkedin="" %}
        {% include officer.html %}

    </div>
</div>