<div class="section-title" data-aos="fade-up">
    <h2>ACM-W Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- President -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Joshua Lazaro" %}
        {% assign title="President" %}
        {% assign linkedin="joshua-lazaro-3096ba196" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="https://devpost.com/lazaro-josh1234?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" %}
        {% include officer.html %}

        <!-- Vice President -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Isabella Montemayor" %}
        {% assign title="Vice President" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Natalie Mosqueda" %}
        {% assign title="Secretary" %}
        {% assign linkedin="nataliemosqueda" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Adriana Pulgar" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Media -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Elizabeth Barrera" %}
        {% assign title="Social Media" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

    </div>
</div>