<div class="section-title" data-aos="fade-up">
    <h2>Rowdy Creators</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- COO -->
        {% assign image="img-avatar.png" %}
        {% assign name="Finn Burmeister-Morton" %}
        {% assign title="COO" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- CTO -->
        {% assign image="img-avatar.png" %}
        {% assign name="Alex Smith" %}
        {% assign title="CTO" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Media Coordinator -->
        {% assign image="img-avatar.png" %}
        {% assign name="JD" %}
        {% assign title="Media Coordinator" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="img-avatar.png" %}
        {% assign name="Alex B" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% include officer.html %}
    </div>
</div>