<div class="section-title" data-aos="fade-up">
    <h2>Rowdy Creators</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- CEO -->
        {% assign image="joshua-le.png" %}
        {% assign name="Joshua Le" %}
        {% assign title="CEO" %}
        {% assign linkedin="joshua-le-879407189" %}
        {% assign twitter="" %}
        {% assign instagram="joshua_m_le" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- COO -->
        {% assign image="finn-bm.jpg" %}
        {% assign name="Finn Burmeister-Morton" %}
        {% assign title="COO" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- CTO -->
        {% assign image="default-pfp.png" %}
        {% assign name="Alex Smith" %}
        {% assign title="CTO" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Media Coordinator -->
        {% assign image="jd-wilson.png" %}
        {% assign name="JD" %}
        {% assign title="Media Coordinator" %}
        {% assign linkedin="jd-wilson-948945196" %}
        {% assign twitter="Dewddub" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="default-pfp.png" %}
        {% assign name="Alex B" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>