<div class="section-title" data-aos="fade-up">
    <h2>ACM Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!--
            ACM EXECUTIVE COUNCIL
        -->
        <!-- President -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Kailey Perrino" %}
        {% assign title="President" %}
        {% assign linkedin="kailey-perrino" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Vice President -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Joshua Silva" %}
        {% assign title="Vice President" %}
        {% assign linkedin="joshuasilva414" %}
        {% assign github="joshuasilva414" %}
        {% assign instagram="" %}
        {% assign other="https://www.joshuasilva.me" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Laura Barnes" %}
        {% assign title="Secretary" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Treasurer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Jada Velasquez" %}
        {% assign title="Treasurer" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- ICPC Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Jonathan de Koning" %}
        {% assign title="ICPC Director" %}
        {% assign linkedin="jonathandekoning" %}
        {% assign github="JonathanJdeKoning" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Rowdy Datathon Co-Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Natasha Blussick" %}
        {% assign title="Rowdy Datathon Co-Director" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!--
            ACM COUNCIL
        -->
        <!-- Public Relations Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Kelinda Shen" %}
        {% assign title="Public Relations Officer" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Media Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Daniel Ruiz" %}
        {% assign title="Media Officer" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Projects Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Christian Walker" %}
        {% assign title="Projects Officer" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Membership Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Paolo Lay" %}
        {% assign title="Membership Officer" %}
        {% assign linkedin="paolo-lay" %}
        {% assign github="" %}
        {% assign instagram="paololayy" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Technical Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Jacob Ellerbrock" %}
        {% assign title="Technical Officer" %}
        {% assign linkedin="jacobellerbrock" %}
        {% assign github="jacobellerbrock" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Officer -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Alex Mugica" %}
        {% assign title="Social Officer" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Bits & Bytes Program Manager -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Alessandro Espinosa" %}
        {% assign title="Bits & Bytes Program Manager" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>