<div class="section-title" data-aos="fade-up">
    <h2>RowdyHacks</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">

        <!-- RowdyHacks Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Nathan Zuniga" %}
        {% assign title="RowdyHacks Director" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- RowdyHacks Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Liam Murray" %}
        {% assign title="RowdyHacks Co-Director" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

    </div>
</div>