<div class="section-title" data-aos="fade-up">
    <h2>Rowdy Creators</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- Rowdy Creators Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Teagan Smith" %}
        {% assign title="Rowdy Creators Director" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- VP -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Pragathi Durga Rajarajan" %}
        {% assign title="Rowdy Creators Vice-President" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Projects Design -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Jacob Nyberg" %}
        {% assign title="Projects Design" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- PR -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Jibril Pascua" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Membership -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Rahul Paul" %}
        {% assign title="Membership" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Media -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Delina Yirgaalem" %}
        {% assign title="Social Media" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>