<div class="section-title" data-aos="fade-up">
    <h2>Code Quantum</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- Director -->
        {% assign image="tiffany-tran.jpg" %}
        {% assign name="tiffany tran" %}
        {% assign title="Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Co-Director -->
        {% assign image="lisette-lsais.jpg" %}
        {% assign name="Lisete Isais" %}
        {% assign title="Co-Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Design -->
        {% assign image="renae-siewart.png" %}
        {% assign name="Renae Siewert" %}
        {% assign title="Design" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>