<div class="section-title" data-aos="fade-up">
    <h2>ACM Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!--
            ACM EXECUTIVE COUNCIL
        -->
        <!-- President -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Jenelle Millison" %}
        {% assign title="President" %}
        {% assign linkedin="jenelle-millison" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Vice President -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Zaquariah Holland" %}
        {% assign title="Vice President" %}
        {% assign linkedin="Zaquariah-Holland" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Seth Zapata" %}
        {% assign title="Secretary" %}
        {% assign linkedin="sethzapata" %}
        {% assign twitter="skinnygiraffe_" %}
        {% assign instagram="seth.z_" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Treasurer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Christopher De Leon" %}
        {% assign title="Treasurer" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- RowdyHacks Director -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Roni Maddox" %}
        {% assign title="RowdyHacks Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- ACM-W Director -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Joshua Lazaro" %}
        {% assign title="ACM-W Director" %}
        {% assign linkedin="joshua-lazaro-3096ba196" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="https://devpost.com/lazaro-josh1234?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" %}
        {% include officer.html %}

        <!-- Rowdy Creators Director -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Joshua Le" %}
        {% assign title="Rowdy Creators Director" %}
        {% assign linkedin="joshua-le-879407189" %}
        {% assign twitter="" %}
        {% assign instagram="joshua_m_le" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- ICPC Director -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Ruben Andrade" %}
        {% assign title="ICPC Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Bits & Bytes Director -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Finn Burmeister-Morton" %}
        {% assign title="Bits & Bytes Director" %}
        {% assign linkedin="finn-burmeister-morton-2b9b5217a" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!--
            ACM COUNCIL
        -->
        <!-- Public Relations Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Mei Sullum" %}
        {% assign title="Public Relations Officer" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Media Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Kyle Yuhara" %}
        {% assign title="Media Officer" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Projects Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Alex Smith" %}
        {% assign title="Projects Officer" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Membership Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Elijah Moya" %}
        {% assign title="Membership Officer" %}
        {% assign linkedin="elijah-moya" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Technical Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Nicolas Ruiz" %}
        {% assign title="Technical Officer" %}
        {% assign linkedin="nicolas-s-ruiz" %}
        {% assign twitter="NicRuiz88" %}
        {% assign instagram="NicRuiz88" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Officer -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Brendan Luu" %}
        {% assign title="Social Officer" %}
        {% assign linkedin="brendanvluu" %}
        {% assign twitter="" %}
        {% assign instagram="brendanvluu" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>