<div class="section-title" data-aos="fade-up">
    <h2>ACM Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!--
            ACM EXECUTIVE COUNCIL
        -->
        <!-- President -->
        {% assign image="jenelle-millison.jpg" %}
        {% assign name="Jenelle Millison" %}
        {% assign title="President" %}
        {% assign linkedin="jenelle-millison" %}
        {% include officer.html %}

        <!-- Vice President -->
        {% assign image="zaquariah-holland.jpg" %}
        {% assign name="Zaquariah Holland" %}
        {% assign title="Vice President" %}
        {% assign linkedin="Zaquariah-Holland" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="seth-zapata.png" %}
        {% assign name="Seth Zapata" %}
        {% assign title="Secretary" %}
        {% assign linkedin="sethzapata" %}
        {% include officer.html %}

        <!-- Treasurer -->
        {% assign image="christopher-de-leon.jpg" %}
        {% assign name="Christopher De Leon" %}
        {% assign title="Treasurer" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- RowdyHacks Director -->
        {% assign image="roni-maddox.jpg" %}
        {% assign name="Roni Maddox" %}
        {% assign title="RowdyHacks Director" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- ACM-W Director -->
        {% assign image="joshua-lazaro.jpg" %}
        {% assign name="Joshua Lazaro" %}
        {% assign title="ACM-W Director" %}
        {% assign linkedin="joshua-lazaro-3096ba196" %}
        {% include officer.html %}

        <!-- Rowdy Creators Director -->
        {% assign image="joshua-le.png" %}
        {% assign name="Joshua Le" %}
        {% assign title="Rowdy Creators Director" %}
        {% assign linkedin="joshua-le-879407189" %}
        {% include officer.html %}

        <!-- ICPC Director -->
        {% assign image="ruben-andrade.jpg" %}
        {% assign name="Ruben Andrade" %}
        {% assign title="ICPC Director" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Bits & Bytes Director -->
        {% assign image="finn-bm.jpg" %}
        {% assign name="Finn Burmeister-Morton" %}
        {% assign title="Bits & Bytes Director" %}
        {% assign linkedin="finn-burmeister-morton-2b9b5217a" %}
        {% include officer.html %}

        <!--
            ACM COUNCIL
        -->
        <!-- Public Relations Officer -->
        {% assign image="512_Trey_DAmico.jpg" %}
        {% assign name="Trey d'Amico" %}
        {% assign title="Public Relations Officer" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Media Officer -->
        {% assign image="default-pfp.png" %}
        {% assign name="Kyle Yuhara" %}
        {% assign title="Media Officer" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Projects Officer -->
        {% assign image="default-pfp.png" %}
        {% assign name="Alex Smith" %}
        {% assign title="Projects Officer" %}
        {% assign linkedin="" %}
        {% include officer.html %}

        <!-- Membership Officer -->
        {% assign image="elijah-moya.png" %}
        {% assign name="Elijah Moya" %}
        {% assign title="Membership Officer" %}
        {% assign linkedin="elijah-moya" %}
        {% include officer.html %}

        <!-- Technical Officer -->
        {% assign image="nicolas-ruiz.jpg" %}
        {% assign name="Nicolas Ruiz" %}
        {% assign title="Technical Officer" %}
        {% assign linkedin="nicolas-s-ruiz" %}
        {% include officer.html %}

        <!-- Social Officer -->
        {% assign image="default-pfp.png" %}
        {% assign name="Robby Garza" %}
        {% assign title="Social Officer" %}
        {% assign linkedin="" %}
        {% include officer.html %}
    </div>
</div>