<div class="section-title" data-aos="fade-up">
    <h2>Coding in Color</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- CIC Director -->
        {% assign image="xavier-walton.png" %}
        {% assign name="Xavier Walton" %}
        {% assign title="Coding in Color Director" %}
        {% assign linkedin="xwalton" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="nigel-mcfarlane II.jpeg" %}
        {% assign name="Nigel Mcfarlane II" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Media -->
        {% assign image="tosin-adefashe.jpeg" %}
        {% assign name="Tosin Adefashe" %}
        {% assign title="Social Media" %}
        {% assign linkedin="" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

    </div>
</div>