<div class="section-title" data-aos="fade-up">
    <h2>Code Quantum</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- Director(s) -->
        {% assign image="iqra-abdullah.jpeg" %}
        {% assign name="Iqra Abdullah" %}
        {% assign title="Director" %}
        {% assign linkedin="iqra-abdullah" %}
        {% assign github="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        {% assign image="anusha-abdulla.JPG" %}
        {% assign name="Anusha Abdulla" %}
        {% assign title="Co-Director" %}
        {% assign linkedin="anusha-abdulla" %}
        {% assign github="AnushaAbdulla" %}
        {% assign instagram="anushaofficial_" %}
        {% assign other="" %}
        {% include officer.html %}

    </div>
</div>