<div class="section-title" data-aos="fade-up">
    <h2>ACM-W Team</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- ACM-W Director -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Vivian Tran" %}
        {% assign title="ACM-W Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Vice President -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Reese Sylvester" %}
        {% assign title="Vice President" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Secretary -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Brooke Lane" %}
        {% assign title="Secretary" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Public Relations -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Brainna Anaya Carrasco" %}
        {% assign title="Public Relations" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Social Media -->
        {% assign image="kailey-yertle.png" %}
        {% assign name="Cassandra Gomez" %}
        {% assign title="Social Media" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

    </div>
</div>