<div class="section-title" data-aos="fade-up">
    <h2>Faculty Sponsors</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        {% assign councilLevel="faculty" %}
        {% assign image="jenelle-millison.png" %}
        {% assign name="Kevin Desai" %}
        {% assign title="ACM Faculty Sponsor" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        {% assign councilLevel="faculty" %}
        {% assign image="jenelle-millison.png" %}
        {% assign name="Jianwei Niu" %}
        {% assign title="ACM-W Faculty Sponsor" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>