<div class="section-title" data-aos="fade-up">
    <h2>Code Quantum</h2>
</div>

<div class="row" data-aos="fade-up">
    <div class="row boxes d-flex justify-content-center">
        <!-- Director(s) -->
        {% assign image="tiffany-tran.jpeg" %}
        {% assign name="tiffany tran" %}
        {% assign title="Director" %}
        {% assign linkedin="tiffanytrancs" %}
        {% assign twitter="tiffanys_typing" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        {% assign image="lisette-lsais.jpg" %}
        {% assign name="Lisete Isais" %}
        {% assign title="Director" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Hacker Experience Team -->
        {% assign image="jenelle-millison.png" %}
        {% assign name="Jenelle Millison" %}
        {% assign title="Hacker Experience" %}
        {% assign linkedin="jenelle-millison" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        {% assign image="izzy-montemayor.png" %}
        {% assign name="Isabella Montemayor" %}
        {% assign title="Hacker Experience" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Outreach Team -->
        {% assign image="joshua-lazaro.png" %}
        {% assign name="Joshua Lazaro" %}
        {% assign title="Outreach" %}
        {% assign linkedin="joshua-lazaro-3096ba196" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="https://devpost.com/lazaro-josh1234?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" %}
        {% include officer.html %}

        <!-- Finance Team -->
        {% assign image="christopher-de-leon.jpg" %}
        {% assign name="Christopher De Leon" %}
        {% assign title="Finance" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}


        <!-- Sponsorship Team -->
        {% assign image="mira-espiritu.jpeg" %}
        {% assign name="Mira Espiritu" %}
        {% assign title="Sponsorship" %}
        {% assign linkedin="mira-espiritu-074a45210" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}

        <!-- Design Team -->
        {% assign image="renae-siewart.png" %}
        {% assign name="Renae Siewert" %}
        {% assign title="Design" %}
        {% assign linkedin="" %}
        {% assign twitter="" %}
        {% assign instagram="" %}
        {% assign other="" %}
        {% include officer.html %}
    </div>
</div>