<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include navbar.html %}
        <body>
            <main id="main">
<!--                <div id="hero-bg"></div>-->

                <section id="typeform" class="container">
                    <div class="typeform-iframes">
                        {{ content }}
                    </div>
                </section>
            </main>
        </body>
        {% include footer.html %}
        <script>
            AOS.init();
        </script>
    </body>
</html>